<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><span class="text-danger">Red</span> Dragon Team</a>
        691 Project
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-12 mx-auto text-center">
            <h1 class="mb-4">Log Aggregator Project</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5 text-danger">Red Dragon <span class="text-dark">Team</span></h2>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-5">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://avatars2.githubusercontent.com/u/10484643?s=460&v=4" alt="">
              <h5>Amir Mohsen Hossein Zadeh</h5>
              <p class="font-weight-light mb-0">40039878</p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-2.jpg" alt="">
              <!--<img class="img-fluid rounded-circle mb-3" src="https://media.licdn.com/media/AAEAAQAAAAAAAAwTAAAAJDBhNGMyNjVlLWRlZDUtNDRiNS1hZWM0LTBiZmE2ZTcwMWNiNw.jpg" alt="">-->
              <h5>Aida Rangy</h5>
              <p class="font-weight-light mb-0">27670036</p>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 h-100 text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
      .testimonials {
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
    </style>
  </body>

</html>